version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: postgres
    environment:
      - POSTGRES_USER=hive
      - POSTGRES_PASSWORD=hive
      - POSTGRES_DB=metastore_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - trino-net

  hive-metastore:
    image: apache/hive:4.0.0
    container_name: hive-metastore
    depends_on:
      - postgres
    environment:
      - SERVICE_NAME=metastore
      - DB_DRIVER=postgres
      - SERVICE_OPTS=-Djavax.jdo.option.ConnectionDriverName=org.postgresql.Driver -Djavax.jdo.option.ConnectionURL=jdbc:postgresql://postgres:5432/metastore_db -Djavax.jdo.option.ConnectionUserName=hive -Djavax.jdo.option.ConnectionPassword=hive
    ports:
      - "9083:9083"
    volumes:
      - ./libs/postgresql-42.6.0.jar:/opt/hive/lib/postgresql-42.6.0.jar
      - /Users/paoloolivieri/discogs_data_lake/hive-data:/data/hive-data
    networks:
      - trino-net

  trino:
    image: trinodb/trino:415
    container_name: trino
    depends_on:
      - hive-metastore
    ports:
      - "8080:8080"
    volumes:
      - ./trino-catalog:/etc/trino/catalog
      - /Users/paoloolivieri/discogs_data_lake/hive-data:/data/hive-data
      - ./bootstrap_discogs.sql:/etc/trino/bootstrap_discogs.sql
    networks:
      - trino-net

networks:
  trino-net:
    driver: bridge

volumes:
  pgdata:
